nav{
    border-top: solid rgb(183, 180, 180) ;
    border-bottom: solid rgb(155, 213, 155) 10px;
}
.div1 {
    display: inline-block;
    height: 36px;
}
.div1 p {
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    margin: 21px 0 0 36px;
}
.div2 {
    display: inline-block;
    margin: 0px 0 6px 939px;
}
#menu_sidebar{
    display: none;
}
.div-welcome-1 {
    display: inline-block;
    margin: 50px 0 0 50px;
    width: 1107px;
    background-color: lightgray;
    padding: 22px 0;
    border-top: solid rgb(155, 213, 155) 6px;
}
.div-welcome-2 {
    display: inline-block;
    width: 629px;
    text-align: start;
}
.title-1{
    margin-bottom: 24px;
}
.subtitle-1{
    margin-bottom: 53px;
}
.paragraph-1{
    margin-bottom: 40px;
}
.button-learn-more{
    margin: 210px 0 0 20px;
    background-color: aquamarine;
}
.imagen-1{
    height: 526px;
    width: 474px;
}
.iconomenu{
width: 42px;
height: 42px;
}
nav {
    border-top: solid rgb(183, 180, 180);
    border-bottom: solid rgb(155, 213, 155) 6px;
}
.primer-imagen{
    width: 29px;
}
.appointment{
    border: solid;
}
.div-features {
    margin-left: 35px;
}
#content-features{
}
.div-content-features {
    display: inline-block;
    margin: 15px;
    width: 550px;
}
.mini-content-features {
    width: 300px;
    display: inline-block;
    font-size: 12px;
}
.icon-features{
    border: solid;
    display: inline-block;
}
.imagen-feature-1, .imagen-feature-2 {
    width: 142px;
    height: 100px;
    margin-top: 20px;
    /* margin: 41px; */
    float: left;
    /* display: inline-block; */
}
.div-form{
    color: red;
    display: inline-block;
}